.container {
  display: flex;
  justify-content: space-between;
}

.interface {
  display: flex;
  justify-content: flex-end;
}


h1{
  display: inline-block;
}

.titleName{
  margin-block-start: 2em;
  margin-block-end: 1em;
  margin-inline-start: 50px;
  margin-inline-end: 0px;
  font-size: 30px;
}


#buttons{
  margin-block-end: 2em;
  margin-inline-start: 50px;
}

nav {
  display: inline-block;
}

input {
  justify-content: center;
  width:1500px;
  height:40px;
  font-size:20px;
}

.searchbox{
  text-align:center;
}

#searchList {
  list-style:none;
}

li {
  float: left;
  margin-left: 20px;
}


span {
  display: block; 
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 300px;
  height: 40px;
}

.part-btn-off{
  background-color: lightcyan;
  border-radius: 15%;
  width: 90px;
  height: 50px;
  font-size: 25px;
  margin-right: 5px;
}

.part-btn-on{
  background-color: yellow;
  font-weight: bold;
  border-radius: 15%;
  width: 90px;
  height: 50px;
  font-size: 25px;
  margin-right: 5px;
}